/* centered columns styles */
.row-centered {
    text-align:center;
    margin: 10px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /*text-align:left;*/
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:420px;
}
.col-min {
    /* custom min width */
    min-width:420px;
}
.col-max {
    /* custom max width */
    max-width:420px;
}

.payment-form-notify {
    color: red;
}

.cashbox-modal-trigger {
    cursor: pointer;
}

.cashbox-list-group {
    margin: 0 auto;
    display: inline-block;
    height: 50px;
    padding: 3px;
    min-height: 256px;
}

.cashbox-list-group-item {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    min-height: 40px;
    font-size: 30px;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
}

.cashbox-list-group-item:hover {
    background-color: #3c8dbc;
}
